<section class="tab">
  <div class="tab-header">
    <h3 class="tab-title"><%= @panel.title %></h3>
  </div>
  <div class="tab-content">
    <%= with {:ok, content} <- FastSanitize.Sanitizer.scrub(@panel.content, FuckGab.Scrubber) do
      raw(content)
    end %>
  </div>
</section>
