<%= with %{data: %{
  "title" => instance_title
}} <- @instance do %>
  <div class="tab-item">
    <h4 class="tab-title"><%= instance_title %></h4>
    <p class="tab-info">
      <a href=<%= FuckGab.Instance.get_url(@instance) %>><%= @instance.domain %></a>
      <span class="tab-software"><i class="fa fa-<%= @instance.software %>"></i> <%= String.capitalize(@instance.software) %></span>
    </p>
  </div>
<% else
  %{data: %{
    "name" => instance_title
  }} -> %>
  <div class="tab-item">
    <h4 class="tab-title"><%= instance_title %></h4>
    <p class="tab-info">
      <a href=<%= FuckGab.Instance.get_url(@instance) %>><%= @instance.domain %></a>
      <span class="tab-software"><i class="fa fa-<%= @instance.software %>"></i> <%= String.capitalize(@instance.software) %></span>
    </p>
  </div>
<% _ -> %>
<% end %>
