<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <title><%= @header_title %></title>
    <meta name="description" content="<%= @site_description[:content_short] || @site_description[:content] %>" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="preload" href="<%= Routes.static_path(@conn, "/fonts/montserrat-latin-700-normal.woff2") %>" as="font"/>
    <link rel="preload" href="<%= Routes.static_path(@conn, "/fonts/roboto-latin-700-normal.woff2") %>" as="font"/>
    <link rel="preload" href="<%= Routes.static_path(@conn, "/fonts/roboto-latin-400-normal.woff2") %>" as="font"/>
    <link rel="preload" href="<%= Routes.static_path(@conn, "/fonts/forkawesome-webfont.woff2") %>" as="font"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <style id="theme" type="text/css">
      :root {
        --brand-color_h: <%= @brand_color.h %>;
        --brand-color_s: <%= @brand_color.s %><%= if @brand_color.s > 0 do %>%<%end%>;
        --brand-color_l: <%= @brand_color.l %><%= if @brand_color.l > 0 do %>%<%end%>;
      };
    </style>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header class="site-header">
      <section class="container">
        <h1 class="title"><%= @site_name %></h1>
      </section>
    </header>
    <main role="main" class="container">
      <%= @inner_content %>
    </main>
    <footer class="site-footer">
      <section class="row">
        <article class="column">
          <%= if @copyright do %>
            <p class="copyright"><%= @copyright %></p>
          <% end %>
        </article>
        <article class="column right">
          <ul>
            <%= for item <- @site_footer_nav_items do %>
              <li>
                <a href=<%= item.url %>><%= item.title %></a>
              </li>
            <% end %>
          </ul>
        </article>
      </section>
    </footer>
  </body>
</html>
