<%= if @site_description.display == true do %>
  <section class="home-page__top">
    <p class="description"><%= @site_description.content %></p>
  </section>
<% end %>
<%= with panels when is_list(panels) and length(panels) > 0 <- @panels[:above_explore] do
  render_many panels, FuckGabWeb.PanelView, "panel.html"
end %>
<%= live_render(@conn, FuckGabWeb.DirectoryLive) %>
<%= with panels when is_list(panels) and length(panels) > 0 <- @panels[:above_suggestion_form] do
  render_many panels, FuckGabWeb.PanelView, "panel.html"
end %>
<%= live_render(@conn, FuckGabWeb.SuggestionForm) %>
<%= with panels when is_list(panels) and length(panels) > 0 <- @panels[:below_suggestion_form] do
  render_many panels, FuckGabWeb.PanelView, "panel.html"
end %>
