# Fuck Gab! configuration

# NOTE: Do not commit this file to a repo or otherwise make it public without
# removing sensitive information first.

<%= if Code.ensure_loaded?(Config) or not Code.ensure_loaded?(Mix.Config) do
  "import Config"
else
  "use Mix.Config"
end %>

config :fuck_gab, FuckGabWeb.Endpoint,
  url: [host: "<%= domain %>", scheme: "https", port: <%= port %>],
  http: [ip: {<%= String.replace(listen_ip, ".", ", ") %>}, port: <%= listen_port %>],
  secret_key_base: "<%= secret %>",
  signing_salt: "<%= signing_salt %>",
  live_view: [signing_salt: "<%= live_view_signing_salt %>"]

config :fuck_gab, :instance,
  site_name: "<%= site_name %>",
  site_description: %{
    content: "<%= site_description %>",
    display: true
  }

config :fuck_gab, FuckGab.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "<%= dbuser %>",
  password: "<%= dbpass %>",
  database: "<%= dbname %>",
  hostname: "<%= dbhost %>",
  pool_size: 10
