.container {
  max-width: 120.0rem;
}

select {
  width: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-bottom: 16rem;
  overflow-x: hidden;
}

a {
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

/** Derived from Phoenix starter application CSS **/
header section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
