@font-face {
  font-family: 'misskey';
  src: url('../fonts/misskey.eot?pryg6i');
  src:  url('../fonts/misskey.eot?pryg6i#iefix') format('embedded-opentype'),
    url('../fonts/misskey.ttf?pryg6i') format('truetype'),
    url('../fonts/misskey.woff?pryg6i') format('woff'),
    url('../fonts/misskey.svg?pryg6i#soapbox') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa-misskey::before {
  font-family: 'misskey';
  content: "\e900";
}
