form {
  &:last-child {
    margin-bottom: 1rem;
  }

  input[type="text"], textarea, input[type="number"] {
    background: #fff;
    font-size: 2rem;

    &:focus {
      border: 2px solid var(--highlight-text-color);
    }
  }

  textarea {
    resize: vertical;
    font-family: 'Roboto', Arial, sans-serif;
  }

  button {
    background-color: var(--brand-color);
    border: none;
    padding: 0 2.0rem;
    font-size: 1.6rem;
    text-transform: none;
    letter-spacing: normal;

    &[type="submit"] {
      margin-bottom: 0;
    }
  }
}
