.site-header {
  background-color: var(--brand-color);

  h1 {
    margin: 1rem 0;
    text-align: center;
    font-size: 5rem;
    text-transform: lowercase;
    color: white;
    font-family: "Montserrat";
  }
}
