.site-footer {
  background-color: var(--brand-color);
  color: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .row {
    width: 120.0rem;
    margin: 0 auto;
    padding: 2rem;
    max-width: 100%;
  }

  .column.right {
    display: flex;
  }

  ul {
    margin-left: auto;
    display: flex;
    list-style: none;

    li:not(:first-child)::before {
      content: "/";
      padding-left: 4px;
    }

    a {
      color: #fff;
      font-weight: 500;
      padding: 10px 4px;
    }
  }
}
