.tab {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;

  .tab-header {
    padding: 10px 20px;
    background-color: var(--brand-color);
    color: #fff;

    h3 {
      margin-bottom: 0;
      font-weight: 700;
    }

    .search-form {
      margin-bottom: 0;
    }

    .tab-search-bar {
      display: inline-flex;
      width: 100%;

      > * {
        width: 100px;
      }

      button {
        margin-bottom: 0;
        padding: 0 1.5rem;
        margin-left: 1rem;
        flex-basis: 5%;

        &:focus,
        &:hover {
          border: none;
          background-color: var(--highlight-text-color);
        }
      }

      input[type="text"] {
        margin-bottom: 0;
        flex-grow: 2;
      }
    }

    .advanced-search {
      padding: 2.0rem;

      ul {
        list-style: none;
        margin-bottom: 0;
      }

      li {
        margin-bottom: 0.25rem;
      }

      input[type="checkbox"] {
        margin: 0.2rem;
      }

      .row {
        width: 100%;
        margin-left: 0;
      }
    }
  }

  .tab-content {
    padding: 10px 20px;
    background-color: var(--brand-color--med);
    font-size: 1.7rem;

    .no-content {
      margin-top: 2.0rem;
      text-align: center;
    }

    a {
      color: var(--brand-color);
    }

    p {
      margin-bottom: 1rem;
    }

    ul {
      list-style: disc inside;
    }

    li {
      margin-bottom: 0.5rem;
    }
  }

  .tab-item {
    padding: 1.5rem 0;

    .tab-title {
      margin-bottom: 0.5rem;
      font-weight: 700;
      font-size: 2.3rem;
    }

    .tab-info {
      margin-bottom: 0;
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid var(--highlight-text-color);
    }

    .tab-software::before {
      content: " · ";
    }
  }

  .pagination-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    justify-content: center;

    .pagination-number {
      margin-bottom: 0;
      font-size: 1.8rem;
      font-weight: 700;
    }

    .pagination-button {
      margin-bottom: 0;
      padding: 0 1.3rem;
      font-size: 1.5rem;
      background-color: var(--brand-color);
      border: none;
      border-radius: 10rem;

      &.left {
        margin-right: 15px;
      }

      &.right {
        margin-left: 15px;
      }
    }
  }
}
