/*
# CSS VARIABLE NAMING CONVENTIONS (based on Soapbox FE's)

Primary variables are fully-formed CSS properties.
Form: --{primary-name}
Examples:
  --brand-color
  --accent-color
  --primary-text-color

Meta variables are combined to make primary variables.
Form: --{primary-name}_{property}
Examples:
  --brand-color_h   (int, hue)
  --brand-color_s   (percent, saturation)
  --brand-color_l   (percent, lightness)
  --brand-color_hsl (csv of the 3 variables above)

Modifiers are variations of primary variables made by modifying their meta-values.
Form: --{primary-name}--{modifier}
Examples:
  --brand-color--faint
  --brand-color--hicontrast
  --primary-text-color--faint
*/

body {
  // Primary variables
  --brand-color: hsl(var(--brand-color_hsl));
  --highlight-text-color: hsl(var(--brand-color_h), var(--brand-color_s), calc(var(--brand-color_l) - 10%));

  // Meta variables
  --brand-color_hsl: var(--brand-color_h), var(--brand-color_s), var(--brand-color_l);

  // Modifiers
  --brand-color--med: hsla(var(--brand-color_hsl), 0.2);
}
